:root {
  --title: 4rem;
  --text: 1rem;
}

@media only screen and (max-width: 960px) {
  :root {
    --title: 2rem;
    --text: 0.8rem;
  }
}

.about {
  position: relative;
  width: 100%;
  height: auto;
  font-family: Arial, Helvetica, sans-serif;
  top: 100px;
  display: flex;
  gap: 20px;
  z-index: 1;
  font-family: Louis-Italic;
}

.info {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: column;
}
.text {
  display: flex;
  flex-direction: column;
  padding: 100px;
  gap: 20px;
}
.text p {
  font-size: var(--text);
}
.info h1 {
  font-size: var(--title);
  font-weight: bold;
  color: white;
}

.info p {
  color: rgb(255, 255, 255);
}

.btn {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: start;
}
.btn button {
  background-color: var(--color-principal);
  color: white;
  padding: 15px 40px;
  border: none;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  cursor: pointer;
}

.circle {
  position: absolute;
  width: 50%;
  height: 500px;
  overflow: hidden;
  background-image: repeating-linear-gradient(
      45deg,
      hsla(64, 83%, 54%, 0.05) 0px,
      hsla(64, 83%, 54%, 0.05) 1px,
      transparent 1px,
      transparent 11px,
      hsla(64, 83%, 54%, 0.05) 11px,
      hsla(64, 83%, 54%, 0.05) 12px,
      transparent 12px,
      transparent 32px
    ),
    repeating-linear-gradient(
      90deg,
      hsla(64, 83%, 54%, 0.05) 0px,
      hsla(64, 83%, 54%, 0.05) 1px,
      transparent 1px,
      transparent 11px,
      hsla(64, 83%, 54%, 0.05) 11px,
      hsla(64, 83%, 54%, 0.05) 12px,
      transparent 12px,
      transparent 32px
    ),
    repeating-linear-gradient(
      0deg,
      hsla(64, 83%, 54%, 0.05) 0px,
      hsla(64, 83%, 54%, 0.05) 1px,
      transparent 1px,
      transparent 11px,
      hsla(64, 83%, 54%, 0.05) 11px,
      hsla(64, 83%, 54%, 0.05) 12px,
      transparent 12px,
      transparent 32px
    ),
    repeating-linear-gradient(
      135deg,
      hsla(64, 83%, 54%, 0.05) 0px,
      hsla(64, 83%, 54%, 0.05) 1px,
      transparent 1px,
      transparent 11px,
      hsla(64, 83%, 54%, 0.05) 11px,
      hsla(64, 83%, 54%, 0.05) 12px,
      transparent 12px,
      transparent 32px
    ),
    linear-gradient(90deg, rgb(41, 27, 158), rgb(249, 77, 212));
  animation: form2 2s forwards;
  -webkit-animation: form2 2s forwards;
  z-index: -1;
  left: 0;
}



.circle2 {
  position: relative;
  width: 500px;
  height: 500px;
  overflow: hidden;
  background: rgb(255,7,220);
  background: linear-gradient(90deg, rgba(255,7,220,1) 0%, rgba(9,9,121,1) 50%, rgba(0,212,255,1) 100%);
  animation: form 4s infinite alternate-reverse;
  -webkit-animation: form 4s infinite alternate-reverse;
}

.picture {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
}

@keyframes form {
  from {
    border-radius: 60% 30% 50% 20%;
    -webkit-border-radius: 60% 30% 50% 20%;
    -moz-border-radius: 60% 30% 50% 20%;
    -ms-border-radius: 60% 30% 50% 20%;
    -o-border-radius: 60% 30% 50% 20%;
  }
  to {
    border-radius: 20% 40% 40% 60%;
    -webkit-border-radius: 20% 40% 40% 60%;
    -moz-border-radius: 20% 40% 40% 60%;
    -ms-border-radius: 20% 40% 40% 60%;
    -o-border-radius: 20% 40% 40% 60%;
  }
}





@keyframes form2 {
  from {
    border-radius: 40% 50% 80% 40%;
    -webkit-border-radius: 40% 50% 80% 40%;
    -moz-border-radius: 40% 50% 80% 40%;
    -ms-border-radius: 40% 50% 80% 40%;
    -o-border-radius: 40% 50% 80% 40%;
  }

  to {
    border-radius: 40% 20% 70% 30%;
    -webkit-border-radius: 40% 20% 70% 30%;
    -moz-border-radius: 40% 20% 70% 30%;
    -ms-border-radius: 40% 20% 70% 30%;
    -o-border-radius: 40% 20% 70% 30%;
  }
}


/* Responsive */

@media only screen and (max-width: 960px) {
  .about {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .circle2 {
    position: relative;
    width: 80%;
    height: 300px;
  }

  .info {
    position: relative;
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
  }
  .text {
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 20px;
  }

  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
