

.resume{
    position: relative;
    width: 100%;
    height:calc(100vh - 60px);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    top: 120px;
    font-family: Arial, Helvetica, sans-serif;


}

.skills , .experience , .aditional{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 30px;

}
.skills h2 ,  .experience h2 , .aditional h2{
    border-bottom: 1px solid var( --color-secundary);
    padding: 0px 20px;  
    font-family: Conneqt-Bold;
}
.box-skills , .university , .languages , .hobbies{
    padding: 20px 0px;
}




.list-skill{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 20px;
    height: 30px;

}

.list-skill input{
    width: 30%;
    text-decoration: none;

}

.list-skill span{
    width: 10%;
   
}
svg.iconify.iconify {
    width: 20px;
    color: rgb(255, 255, 255);
}
svg.iconify.iconify:hover{
    width: 30px;
    height: 30px;
}

.list-skill  :hover  {
    color: var(--color-secundary);
    scale: 1.1;
}




.list-skill p{
    width: 60%;
    text-align: center;
}


input{
    padding: 0;
}

.hobbies{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 20px;
    
}

.list-hobbies{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px 20px;
}
.list-hobbies span{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid white;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}



@media (max-width: 960px) {

    .resume{
        position: relative;
        width: 100%;
        height:calc(100vh - 60px);
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        top: 60px;
        height: auto;
    }

    .skills , .experience , .aditional{
        width: 100%;
        position: relative;
        display: block;
        height: auto;
        justify-content: center;
        align-items: center; 
        scroll-snap-align: start;
        scroll-snap-stop: always;
      
    }


    .language{
        width: 100%;
        display: flex;
        flex-direction: column; 
    }

}