section.categories {
  position: relative;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  padding: 0px 80px;

  background: #24C6DC;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #514A9D, #24C6DC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #514A9D, #24C6DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

section.categories h2 {
  font-size: 3rem;
  width: 100%;
  height: 100px;
  color: white;
}

.list {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  overflow: hidden;
}

span.list-categories {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 200px;
  gap: 10px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background-color: white;
}

.list a {
cursor: pointer;
color: black;
text-decoration: none;
}

.list a:hover{
  color: var(--color-principal);
}


@media (max-width: 960px) {


  section.categories {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding: 40px 40px;
  }
  
.list {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 40px 0px;
}



}