@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

:root {
  --color-principal: #c97ede;
  --color-text: #c8b8d5;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #3a315c;
  font-family: Arial, Helvetica, sans-serif;
}

.background {
  position: relative;
  width: 100%;
}
.header {
  position: relative;
  width: 100%;
  height: auto;
}

.navbar {
  position: fixed;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 80px;
  z-index: 100;
}

ul.items {
  display: flex;
  gap: 20px;
  list-style: none;
}

.items a {
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
  font-size: .8rem;
  padding: 10px 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.items a:hover{
  background-color: var(--color-principal);
}

a.color{
  background-color: var(--color-principal);
}

.slider {
  position: relative;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0px 80px;
}
.picture {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.picture img {
  width: 50%;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

.picture img:hover{
 width: 60%;
 transition: 1s;
 -webkit-transition: 1s;
 -moz-transition: 1s;
 -ms-transition: 1s;
 -o-transition: 1s;
}

.slider article {
  width: 50%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.slider h1 {
  color: var(--color-principal);
  font-size: 1rem;
  text-transform: uppercase;
}

.slider h2 {
  color: white;
  font-size: 3rem;
  text-transform: uppercase;
}

.slider p {
  color: var(--color-text);
  line-height: 1.3rem;
}

.feature {
  width: calc(100% );
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 40px;
}

.item-feature {
  width: calc(30%);
  flex-grow: 1;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: rgba(255, 255, 255, 0.0);
  border: 1px solid rgba(255, 255, 255, 0.281);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  scale: .9;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

.item-feature:hover{
  background-color: rgba(255, 255, 255, 0.1);
  scale: 1;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

span.icon {
  background-color: rgba(255, 255, 255, 0.093);
  width: 40px;
  height: 40px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(255, 255, 255, 0.353);
}

.iconify {
  font-size: 12px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  font-size: 25px;
}

span.icon:last-child {
  border: 2px solid rgb(15, 255, 231);
}

.item-feature article {
  width: 70%;
}

.item-feature h3 {
  color: var(--color-principal);
  text-transform: uppercase;
}

.item-feature h4 {
  color: white;
  text-transform: uppercase;
}
.item-feature p {
  color: var(--color-text);
}


.gallery {
  position: relative;
  width: 100%;
  height: auto;
  background-color: #00000057;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  backdrop-filter: blur(5px);
}

.gallery.bg {
  background-color: rgba(132, 0, 255, 0);
  backdrop-filter: blur(0px);
}

.picture {
  width: 100%;
}

.opacity {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3a315ce8;
}

.gallery article {
  width: 100%;
  line-height: 40px;
  padding: 40px;
}

.gallery h3 {
  color: var(--color-principal);
  font-size: 3rem;
  text-transform: uppercase;
  text-shadow: 0 0 5px rgb(218, 80, 225), 0 0 10px rgba(252, 203, 255, 0.179);
  padding: 40px 0px;
}
.gallery p {
  color: var(--color-text);
}

.count {
  position: relative;
  width: 100%;
  background-color: #0000005d;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 200px;
  backdrop-filter: blur(5px);
}
.count p {
  color: var(--color-text);
  text-transform: uppercase;
  padding: 10px;
}

p.number {
  color: white;
  font-size: 2rem;
  text-align: center;
}

.contact {
  position: relative;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-contact {
  position: relative;
  color: var(--color-text);
  width: 600px;
  height: 200px;
  background-color: rgba(252, 252, 252, 0.089);
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 4px 4px 8px black;
  border-top: 2px solid white;
}
.card-contact h4 {
  text-align: center;
  width: 80%;
  padding: 20px;
  border-bottom: 2px solid white;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
}

.box-info {
  position: relative;
  display: flex;
  width: 80%;
  height: 100%;
  gap: 20px;
  padding: 20px 0px;
}

.adress {
  width: 50%;
  height: 100%;
}

.bg3{
   background-color: rgb(88, 67, 67);
   width: 50%;
   background-image:url("https://img.freepik.com/foto-gratis/fondo-campo-estrellas-resplandecientes-obra-maestra-cosmica-generada-ia_188544-9649.jpg?w=826&t=st=1698739335~exp=1698739935~hmac=3115faf79968a3fc89b9d6f5d05004a3330ad712cbfb07d7625654bec19abe94");
   background-size: cover;
   border-radius:10px ;
   -webkit-border-radius:10px ;
   -moz-border-radius:10px ;
   -ms-border-radius:10px ;
   -o-border-radius:10px ;
}
.bg-contact{
  position: relative;
  width: 100%;
  height: 500px;
  background-color: #3a315ce8;
  display: flex;
  justify-content: center;
  align-items: center;
}



article:hover{
  background-color: rgba(0, 0, 0, 0.349);
  border: 10px;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}


.video{
  position: fixed;
  width: 100%;
  height: 100vh;

}

.video video{
  object-fit: cover;
  width: 100%;
  height: 100vh;
}