@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

:root {
  --color-principal: #c97ede;
  --color-text: #c8b8d5;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #3a315c;
  font-family: Arial, Helvetica, sans-serif;
}

.background {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: rgba(132, 0, 255, 0.289);
  background-image: url("../../assets/bg.png");
  background-position: center;
  background-repeat: repeat;
  background-size: contain;
}
.header {
  position: relative;
  width: 100%;
  height: auto;
  background-color: #3a315ce8;
}

.navbar {
  position: relative;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 80px;
}

ul.items {
  display: flex;
  gap: 40px;
  list-style: none;
}

.items a {
  text-transform: uppercase;
}

.slider {
  position: relative;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0px 80px;
}

.picture {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.picture img {
  width: 70%;
}

.slider article {
  width: 50%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.slider h1 {
  color: var(--color-principal);
  font-size: 1rem;
  text-transform: uppercase;
}

.slider h2 {
  color: white;
  font-size: 3rem;
  text-transform: uppercase;
}

.slider p {
  color: var(--color-text);
  line-height: 1.3rem;
}

.feature {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.item-feature {
  width: 33%;
  flex-grow: 1;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

span.icon {
  background-color: rgba(255, 255, 255, 0.093);
  width: 40px;
  height: 40px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(255, 255, 255, 0.353);
}

.iconify {
  font-size: 12px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  font-size: 25px;
}

span.icon:last-child {
  border: 2px solid rgb(15, 255, 231);
}

.item-feature article {
  width: 70%;
}

.item-feature h3 {
  color: var(--color-principal);
  text-transform: uppercase;
}

.item-feature h4 {
  color: white;
  text-transform: uppercase;
}
.item-feature p {
  color: var(--color-text);
}

.opacity {
  position: relative;
  background-color: #3a315ce8;
  display: flex;
}

.gallery {
  position: relative;
  width: 100%;
  height: auto;
  background-color: #3a315c;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.gallery.bg {
  background-color: rgba(132, 0, 255, 0.289);
  background-image: url("../../assets/bg2.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.picture {
  width: 100%;
}

.opacity {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3a315ce8;
}

.gallery article {
  width: 100%;
  line-height: 40px;
  padding: 40px;
}

.gallery h3 {
  color: var(--color-principal);
  font-size: 3rem;
  text-transform: uppercase;
  text-shadow: 0 0 5px rgb(218, 80, 225), 0 0 10px rgba(252, 203, 255, 0.179);
  padding: 40px 0px;
}
.gallery p {
  color: var(--color-text);
}

.count {
  position: relative;
  width: 100%;
  background-color: #3a315c;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 200px;
}
.count p {
  color: var(--color-text);
  text-transform: uppercase;
  padding: 10px;
}

p.number {
  color: white;
  font-size: 2rem;
  text-align: center;
}

.contact {
  position: relative;
  width: 100%;
  height: 500px;
  background-image: url("../../assets/bg3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3a315ce8;
}

.card-contact {
  position: relative;
  color: var(--color-text);
  width: 600px;
  height: 200px;
  background-color: rgba(23, 1, 31, 0);
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 4px 4px 8px black;
  border-top: 2px solid white;
}
.card-contact h4 {
  text-align: center;
  width: 80%;
  padding: 20px;
  border-bottom: 2px solid white;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
}

.box-info {
  position: relative;
  display: flex;
  width: 80%;
  height: 100%;
  gap: 20px;
  padding: 20px 0px;
}

.adress {
  width: 50%;
  height: 100%;
}

.bg3{
  background-color: black;
  width: 50%;
}
.bg-contact{
  position: relative;
  width: 100%;
  height: 500px;
  background-color: #3a315ce8;
  display: flex;
  justify-content: center;
  align-items: center;
}
