:root {
  --color-principal: rgb(201, 0, 117);
  --color-secundary: rgb(250, 126, 198);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: clock;
  src: url("./fonts/clock/DS-DIGIB.TTF");
}
body,
html {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}







.slider-container {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
  margin: 0 auto;

}

.slider {
  display: flex;
  transition: transform 0.5s ease;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.slide {
  display: flex;
  flex: 0 0 100%;
  width: 100%;
  height: 500px;
}

.controls {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
}

.controls button{
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: var(--color-principal);
  color: white;
  cursor: pointer;
}


.slide article{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 0px 80px;
 

  > h2{
    color: var(--color-principal);
    font-size: 2rem;
    font-weight: bold;
  }

  > h3{
    color: var(--color-secundary);
    font-size: 3rem;
  }
   
  >h4{
    font-weight:500;
    font-size: 1rem;
  }

  > button{
    background-color: var(--color-principal);
    border: none;
    max-width: 200px;
    padding: 10px;
    border-radius: 20px 0px 20px;
    -webkit-border-radius: 20px 0px 20px;
    color: white;
    -moz-border-radius: 20px 0px 20px;
    -ms-border-radius: 20px 0px 20px;
    -o-border-radius: 20px 0px 20px;
    font-weight: bold;
    cursor: pointer;
}


}

