@font-face {
  font-family: 'Conneqt-Black';
  src: url('./assets/fonts/Conneqt/Conneqt-Black.ttf') format('truetype');

}

@font-face {
  font-family: 'Conneqt-Bold';
  src: url('./assets/fonts/Conneqt/Conneqt-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Conneqt-Regular';
  src: url('./assets/fonts/Conneqt/Conneqt-Regular.ttf') format('truetype');
}



* {
  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  color: white;
}

/* Variables Globales */
#root {
  /* colores */
  --color-secundary: rgb(129, 254, 136);



  --green: #75d96a;
  --red: #e74683;
}


a{
  text-decoration: none;
  color: white;
}

input[type="range"] {
  accent-color: coral;
}
